<form method="POST" action="<?= \App::get('urlRoot') ?>/show-name">
	<p>
		Nom: <input type="text" id="lastname" name="lastname" />
	</p>

	<p>
		Prénom: <input type="text" id="firstname" name="firstname" />
	</p>

	<p>
		<input type="submit" value="Soumettre" />
	</p>
</form>
