
<p>
	Nom: [[ lastname ]]
</p>

<p>
	Prénom: [[ firstname ]]
</p>

<?php if (!is_null($params->request->urlParams->id)): ?>
<p>
	Id: [[ request.urlParams.id ]]
</p>
<?php endif; ?>

<p>
	Template: [[ template ]]
</p>

